* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    color: aliceblue;
}

/*COMIENZO CON LAS CLASES DE LAS DISTINTAS SECCIONES*/

/*ELEMENTOS DEL HEADER*/
.cabecera {
    display: flex;
    justify-content:space-evenly;
    height:24vh;
    position: fixed;
    background-color: rgb(11, 9, 84);
    z-index: 10;
}
a{
    text-decoration: none;
}
#logo {   
margin-top: 4vh;
height: 12vh;
}

/*INDEX*/
/*MENU DESPLEGABLE*/
.navbar{
    padding-top: 6vh;
    background-color:rgb(11, 9, 84) ;
  
}
.links{
    width: 100%;
    background-color: rgba(255, 192, 203, 0);
    justify-content: space-evenly;
    overflow-y: hidden;
  
    
}
.navLinks {
        background-color:  rgb(11, 9, 84);
    color: rgb(241, 240, 251)!important;
    text-decoration: none;
}

.principal {
    background-color: rgb(11, 9, 84);
    overflow: hidden;
}
/*ELEMENTOS DEL MAIN*/


.fotoscarousel {
    height: 90vh;
    object-fit: cover;
}

.agendaT {
    display: flex;
    text-align: center;
    color: aliceblue;
    background-color: rgb(20, 18, 155);
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.imagenesAgenda {
    height: 100%;
    width: 100%;
}

.nosotrosT {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 10vh;
    background-image: url(../assets/images/clinicaFOTON.png);
    background-position: center;
    background-size: cover;
}
.NOScard{
    border: 4px;
    border-color: black;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
}
.txtNOS{
    color: black;
}

.opiniones {
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    background-color: rgb(20, 18, 155);
}
.cardOP{
    margin: 5vh;
}
.OPindex{
    color: rgb(2, 3, 39);
}

/*CONTACTO*/
.formularios {
    padding: 15vh;
    margin-left: 5vh;
    margin-right: 10vh;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-color: rgb(20, 18, 155);
    overflow-x: hidden;
}

.tituloCONT {
    font-size: 1.8em;
    padding-bottom: 1vh;
}
.consultas{
    margin:4vh;
    width:70%;
}
 .opciones{   
    color: black;
}
.finForm{
    margin-bottom: 3vh;
}
.contel {
    background-color: rgb(54, 38, 199);  
    text-align: center
    ;
}
.consultasEinformes{
    align-items: center;
    justify-content: center;
    padding: 5vh;
}

/*NOSOTROS*/


.doctores {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(54, 38, 199);
    font-size: 1em;
    padding-top: 28vh;
    padding-bottom: 10vh;
    overflow-y: hidden;
    overflow-x: hidden;
}
.titulonos{
padding-top: 15vh;
}
.colDocs {
margin-top: 5vh;
}
.textoDOCS{
    color: rgb(8, 8, 8);
    text-decoration:double;
}

.clinica {
    text-align: center;
    padding: 6vh;
    background-color: rgb(20, 18, 155);
}

.card-img {
    height: 90vh;
    width: 100%;
    object-fit: cover;
}

.ubicacion {
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center;
    background-color: rgb(54, 38, 199);
    justify-content: center;
}

.mapa {
    height: 100%;
    width: 100%;
    margin: 4vh;
    overflow: hidden;
}

.mapadesc {
    padding: 5vh;
}


/*TRATAMIENTOS*/
.tratamientos {
    padding:15vh;
    background-color: blue;
}
.textoContraste{
    color: black;
}
.trat{
    padding: 10vh;
}

/*OPINIONES*/
.opinionesP {
    font-size: 0.7em;
    background-color: rgb(32, 20, 109);
    padding: 18vh;
    text-align: center;
    margin-top: 0; 
}
.imagenesOP {
    height: 100%;
    width: 100%;
    padding-top: 0vh;

}
.tituloOP{
    margin-top: 4vh;
    text-align: center;
    flex-wrap: wrap;
}
.tarjetaCuerpo{
  width: 80%;

}
.todasCards{
    padding: 5vh;
    justify-content: space-around;
}
.textoOP{
    color: rgb(0, 0, 0);
}
.foroOP {
    background-color: rgb(18, 14, 143);
    padding: 5vh;
    text-align: center;
}
.datosOP{
    width:80%;
    margin-left: 10vh;
}
.colFORMOP{
    overflow: hidden;
}

/* ELEMENTOS DEL FOOTER*/
.pie {
    background-color: rgb(11, 9, 84);
    color: aliceblue;
    text-align: center;
    height: 25vh;
    width: 100%;
}
@media screen and (max-width:768px) {
    .fotoscarousel{
        height: 95vh;
    }
    .navbar{
        width: initial;
        justify-content: flex-end;
    }
    .doctores{
        align-items: center;
        padding: 10vh;
        overflow-x:hidden ;
    }
    .mapa{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        margin-left: 3vh;
        overflow-y: hidden;
    }
    
}