* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  color: aliceblue; }

/*ELEMENTOS DEL HEADER*/
.cabecera {
  display: flex;
  justify-content: space-evenly;
  height: 24vh;
  background-color: #0b0954;
  z-index: 10; }
  .cabecera #logo {
    margin-top: 6vh;
    height: 12vh; }
    .cabecera #logo:hover {
      transform: scale(1.15);
      overflow: hidden;
      transition: all 0.5s; }
  .cabecera .navbar {
    padding-top: 6vh;
    background-color: #0b0954; }
    .cabecera .navbar .container-fluid .navbar-toggler {
      color: aliceblue !important; }
      .cabecera .navbar .container-fluid .navbar-toggler .tog {
        background-color: skyblue;
        border-radius: 20%; }
    .cabecera .navbar .container-fluid .navbar-collapse .links {
      width: 100%;
      background-color: #0f0f0e;
      justify-content: space-evenly;
      overflow: hidden; }
      .cabecera .navbar .container-fluid .navbar-collapse .links .nav-item:hover {
        transform: scale(1.02);
        overflow: hidden;
        transition: 0.5s; }
      .cabecera .navbar .container-fluid .navbar-collapse .links .nav-item .navLinks {
        background-color: #0b0954;
        color: #f1f0fb !important;
        text-decoration: none; }

a {
  text-decoration: none; }

.principal {
  background-color: #0b0954;
  overflow: hidden; }

/*ELEMENTOS DEL MAIN*/
.galeriaIndex .slider .carousel-inner .fotoscarousel {
  height: 90vh;
  object-fit: cover; }

.agendaT {
  display: flex;
  text-align: center;
  color: aliceblue;
  align-items: center;
  flex-wrap: wrap;
  background-color: #14129b;
  padding-top: 6vh;
  padding-bottom: 6vh; }
  .agendaT .row .colimagen .imagenesAgenda {
    height: 100%;
    width: 100%; }
    .agendaT .row .colimagen .imagenesAgenda:hover {
      transform: scale(1.03);
      overflow: hidden;
      transition: all 0.5s; }

.nosotrosT {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 10vh;
  background-image: url(../assets/images/clinicaFOTON.png);
  background-position: center;
  background-size: cover; }
  .nosotrosT .NOScard {
    border: 4px;
    border-color: black;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden; }
    .nosotrosT .NOScard:hover {
      transform: scale(1.15);
      overflow: hidden;
      transition: all 0.5s; }
    .nosotrosT .NOScard .row .card-body .txtNOS {
      color: black; }

.opiniones {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #14129b;
  padding: 5%; }
  .opiniones .row .cardOP {
    margin: 6vh;
    overflow: hidden;
    width: 48vh;
    border-radius: 4%; }
    .opiniones .row .cardOP .card .imgpaciente {
      object-fit: cover;
      height: 100%;
      width: 100%; }
    .opiniones .row .cardOP .card .card-body .OPindex {
      color: #0b0954;
      margin-right: 3%; }
    .opiniones .row .cardOP .card:hover {
      transform: scale(1.15);
      overflow: hidden;
      transition: all 0.5s; }

@media screen and (max-width: 768px) {
  .opiniones {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden; } }

/*NOSOTROS*/
.titulonos {
  padding-top: 10%; }

.doctores {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #3626c7;
  font-size: 1.2rem;
  padding-top: 20vh;
  padding-bottom: 10vh;
  overflow-y: hidden;
  overflow-x: hidden; }
  .doctores .row .colDocs {
    margin-top: 6vh; }
    .doctores .row .colDocs .docs .card-body .textoDOCS {
      color: black;
      text-decoration: double; }

.clinica {
  text-align: center;
  padding: 6vh;
  background-color: #14129b; }
  .clinica .textoCLIN {
    color: aliceblue; }
  .clinica .slide .carousel-inner .carousel-item .card-img {
    height: 70vh;
    width: 100%;
    object-fit: cover; }

.ubicacion {
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: #3626c7;
  justify-content: center; }
  .ubicacion .row .mapadesc {
    text-align: center;
    width: 100%;
    padding: 6vh;
    overflow: hidden; }
  .ubicacion .row .mapa {
    height: 100%;
    width: 100%;
    overflow: hidden; }

/*CONTACTO*/
.formularios {
  padding: 12%;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  background-color: #14129b;
  overflow-x: hidden; }
  .formularios .formulario .tituloCONT {
    font-size: 1.8em;
    padding-top: 18vh; }
  .formularios .formulario .MascFem {
    padding: 5%; }
  .formularios .consultas {
    margin: 4vh;
    width: 70%; }
    .formularios .consultas .opciones {
      color: black; }
    .formularios .consultas .notasM {
      display: wrap;
      overflow: hidden; }

.contel {
  background-color: #3626c7;
  text-align: center; }
  .contel .row .consultasEinformes {
    align-items: center;
    justify-content: center;
    padding: 6vh; }

.boton, .boton-enviar, .boton-reset {
  padding: 3%;
  margin: 1%;
  border: 2px gray; }
  .boton:hover, .boton-enviar:hover, .boton-reset:hover {
    transform: scale(1.02);
    overflow: hidden;
    transition: all 0.5s; }

.boton-enviar {
  background-color: #6f47f1; }

.boton-reset {
  background-color: #2ca0e8; }

/*TRATAMIENTOS*/
.row .tratamientos {
  margin-top: 8vh;
  margin-right: 6vh;
  padding: 18%;
  background-color: #14129b; }
  .row .tratamientos .trat {
    padding: 6vh; }
    .row .tratamientos .trat .txtTRAT {
      padding: 0; }

.row .videoTR {
  height: 50vh;
  width: 100%;
  padding-bottom: 10vh;
  padding-right: 3%;
  overflow-x: hidden;
  margin-right: 4%; }

@media screen and (max-width: 768px) {
  .tratamientos {
    flex-direction: column !important;
    overflow: hidden; }
  .tratamientosCONT {
    flex-direction: column;
    overflow: hidden; }
  .textoContraste {
    text-align: left;
    overflow: hidden; } }

/*OPINIONES*/
.opinionesP {
  font-size: 0.7em;
  justify-content: space-around;
  background-color: #14129b;
  text-align: center;
  padding: 10%;
  margin-top: 20vh; }
  .opinionesP .descripcionOP {
    font-size: 1.2rem;
    flex-wrap: wrap; }
  .opinionesP .Cards {
    justify-content: space-around;
    align-items: center; }
    .opinionesP .Cards .tarjetaCuerpo {
      width: 100%;
      justify-content: center;
      align-items: center;
      margin: 4vh; }
      .opinionesP .Cards .tarjetaCuerpo .imagenesOP {
        height: 100;
        width: 100;
        object-fit: cover; }
      .opinionesP .Cards .tarjetaCuerpo .card-body .textoOP {
        color: black; }

.foroOP {
  padding: 6vh;
  padding-left: 10%;
  background-color: #3626c7;
  overflow: hidden;
  flex-wrap: wrap; }

@media screen and (max-width: 768px) and (min-width: 100px) {
  .opinionesP {
    padding: 0%;
    margin-top: 20vh;
    margin-right: 20vh;
    overflow: hidden; }
    .opinionesP .Cards {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      overflow-x: hidden; }
      .opinionesP .Cards .columna {
        padding-right: 15%;
        overflow-x: hidden; }
        .opinionesP .Cards .columna .tarjetaCuerpo {
          flex-direction: column;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          overflow: hidden; }
          .opinionesP .Cards .columna .tarjetaCuerpo .imagenesOP {
            height: 100%;
            width: 100%;
            object-fit: cover;
            overflow-x: hidden; } }

/* ELEMENTOS DEL FOOTER*/
.pie {
  background-color: #0b0954;
  color: aliceblue;
  text-align: center; }
  .pie .logoFOOT:hover {
    transform: rotate(350deg); }
  .pie .textoFooter {
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 6vh;
    font-weight: bold; }
    .pie .textoFooter .redesFooter {
      padding-top: 6vh;
      margin-right: 10vh; }
