/* ELEMENTOS DEL FOOTER*/
.pie {
    background-color: $color-prinicipal;
    color: aliceblue;
    text-align: $alineacion;
    height: 25vh;
    width: 100%;
    overflow-y: $ocultar;
    flex-wrap: wrap; bottom: 0px;
}
.foot{
    justify-content: $alineacion;
    flex-wrap: wrap;
    overflow-y: $ocultar;
    overflow-x: $ocultar;
}