/*ELEMENTOS DEL HEADER*/
.cabecera {
    #logo {
      margin-top: $valoresp-estandar;
      height: 12vh;
    }

    display: map-get($map-flex, flex);
    justify-content:map-get($map-flex, space-evenly);
    height:24vh;
    background-color: $color-prinicipal;
    z-index: 10;

    .navbar-toggler {
      color: $color-letrasclaras !important;
    }

}

a {
  text-decoration: none;
}