/*TRATAMIENTOS*/
.row {
    .tratamientos {
        margin-top: 8vh;
        margin-right: $valoresp-estandar;
        padding: 18%;
        background-color: $color-secundario;

        .trat {
            padding: $valoresp-estandar;

            .txtTRAT {
                padding: 0;
            }
        }
    }

    .videoTR {
        height: 50vh;
        width: 100%;
        padding-bottom: 10vh;
        padding-right: 3%;
        overflow-x: $ocultar;
        margin-right: 4%;
    }
}



///MEDIA QUERIES TRATAMIENTOS///
@media screen and (max-width:768px) {
    .tratamientos {
        flex-direction: map-get($flex-dir, col) !important;
        overflow: $ocultar;
    }

    .tratamientosCONT {
        flex-direction: map-get($flex-dir, col);
        overflow: $ocultar;
    }

    .textoContraste {
        text-align: map-get($map-flex, left);
        overflow: $ocultar;
    }
}