/*CONTACTO*/
.formularios {
    padding: 12%;
    justify-content: map-get($map-flex, center);
    align-items: map-get($map-flex, center);
    font-size: 1em;
    background-color: $color-secundario;
    overflow-x: $ocultar;

    .formulario {
        .tituloCONT {
            font-size: 1.8em;
            padding-top: 18vh;
        }

        .MascFem {
            padding: 5%;
        }
    }

    .consultas {
        margin: 4vh;
        width: 70%;

        .opciones {
            @include colorTextDark;
        }

        .notasM {
            display: map-get($map-flex, wrap);
            overflow: $ocultar;

        }
    }
}

.contel {
    background-color: $color-terciario;
    text-align: map-get($map-flex, center);

    .row {
        .consultasEinformes {
            align-items: map-get($map-flex, center);

            justify-content: map-get($map-flex, center);

            padding: $valoresp-estandar;
        }
    }
}


//EXTEND
.boton {
    padding: 3%;
    margin: 1%;
    border: 2px gray;
    &:hover{
        transform: scale(1.02);
        overflow: $ocultar;
        transition: all 0.5s;
    }
}

.boton-enviar {
    @extend .boton;
    background-color: rgb(111, 71, 241);
}

.boton-reset {
    @extend .boton;
    background-color: rgb(44, 160, 232);
}