/*ELEMENTOS DEL MAIN*/
.galeriaIndex {
    .slider {
        .carousel-inner {
            .fotoscarousel {
                height: 90vh;
                object-fit: cover;

            }
        }

        .capt {
            background-color: $color-terciario;
            border-color: $color-letrasclaras;
            border-radius: 80%;
        }
    }

}

.agendaT {
    display: flex;
    text-align: map-get($map-flex, center);
    color: aliceblue;
    @include flexible;
    background-color: $color-secundario;
    padding-top: $valoresp-estandar;
    padding-bottom: $valoresp-estandar;

    .row {
        .colimagen {
            .imagenesAgenda {
                height: 100%;
                width: 100%;

                &:hover {
                    transform: scale(1.03);
                    overflow: $ocultar;
                    transition: all 0.5s;
                }
            }

        }
    }
}


.nosotrosT {
    display: map-get($map-flex, flex);
    overflow: $ocultar;
    align-items: map-get($map-flex, center);
    justify-content: map-get($map-flex, center);
    padding: 10vh;
    background-image: url(../assets/images/clinicaFOTON.png);
    background-position: map-get($map-flex, center);
    background-size: cover;



    .NOScard {
        border-color: black;
        justify-content: map-get($map-flex, center);
        overflow-y: $ocultar;
        overflow-x: $ocultar;

        &:hover {
            transform: scale(1.15);
            overflow: $ocultar;
            transition: all 0.5s;
        }

        .row {
            .card-body {
                .txtNOS {
                    text-align: center;
                    @include colorTextDark;
                }
            }
        }
    }
}



.opiniones {
    display: map-get($map-flex, flex);
    flex-wrap: nowrap;
    justify-content: map-get($map-flex, center);
    align-items: map-get($map-flex, center);
    text-align: map-get($map-flex, center);
    background-color: $color-secundario;
    padding: 5%;

    .row {
        .cardOP {
            margin: $valoresp-estandar;
            overflow: $ocultar;
            width: 48vh;
            border-radius: 4%;

            .card {
                .imgpaciente {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }

                .card-body {
                    .OPindex {
                        color: $color-prinicipal;
                        margin-right: 3%;
                    }

                }

                &:hover {
                    transform: scale(1.05);
                    overflow: $ocultar;
                    transition: all 0.5s;
                }
            }
        }





    }

}

///MEDIA QUERIES INDEX///
@media screen and (min-width:401px)and(max-width:768px) {
    .opiniones {
        flex-direction: map-get($flex-dir, col);
        overflow-x: $ocultar;
        overflow-y: $ocultar;
    }

}
@media screen and (min-width:0px)and(max-width:400px) {
    .opiniones {
        flex-direction: map-get($flex-dir, col);
        align-items: map-get($map-flex, center );
        overflow-x: $ocultar;
        overflow-y: $ocultar;
    }

}