/*NOSOTROS*/

.titulonos {
    padding-top: 10%;
}

.doctores {
    justify-content: map-get($map-flex, center);
    @include flexible;
    background-color: $color-terciario;
    font-size: 1.2rem;
    padding-top: 20vh;
    padding-bottom: 10vh;
    overflow-y: $ocultar;
    overflow-x: $ocultar;

    .row {
        .colDocs {
            margin-top: $valoresp-estandar;

            .docs {
                .card-body {
                    .textoDOCS {
                        @include colorTextDark;
                        text-decoration: double;
                    }
                }
            }

        }
    }

}

.clinica {
    text-align: map-get($map-flex, center);
    padding: $valoresp-estandar;
    background-color: $color-secundario;

    .textoCLIN {
        color: $color-letrasclaras;
    }

    .slide {
        .carousel-inner {
            .carousel-item {
                .card-img {
                    height: 70vh;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}



.ubicacion {
    @include flexible;
    text-align: map-get($map-flex, center);
    background-color: $color-terciario;
    justify-content: map-get($map-flex, center);


    .row {

        .mapadesc {
            text-align: map-get($map-flex, center);
            width: 100%;
            padding: $valoresp-estandar;
            overflow: $ocultar;
        }

        .mapa {
            height: 100%;
            width: 100%;
            overflow: $ocultar;
        }
    }


}