
/*TRATAMIENTOS*/
.tratamientos {
    padding:15vh;
    background-color:$color-secundario;
}
.tratamientosCONT{
    padding:15vh;
    background-color:$color-terciario;
}
.trat{
    padding: 10vh;
}
