
@media screen and (max-width:768px) and (min-width:360px) {
    .fotoscarousel{
        height: 95vh;
        width:100%;

    }
    .navbar{
        width: initial;
        justify-content: flex-end;
    }
    .doctores{
        align-items: $alineacion;
        padding: 10vh;
        overflow-x:$ocultar ;
    }
    .mapa{
        display: flex;
        justify-content: $alineacion;
        align-items: $alineacion;
        width: 50vh;
        margin-left: 3vh;
        overflow: $ocultar;
    }
    .mapadesc{
        font-size: 1rem;
    }
    
}
@media screen and(max-width:360px) and (min-width:300px){

 .imgpaciente{
        height:80%;
        overflow: $ocultar;
        object-fit: cover;
    }
    
}
@media screen and (max-width:300px)and(min-width:120px) {
    .mapa{
        display: flex;
        justify-content:$alineacion;
        align-items: $alineacion;
        width: 100px;
        overflow-x: $ocultar; 
    }
    .imgpaciente{
       justify-content: $alineacion;
        overflow: $ocultar;
        object-fit: cover;
    }
    .cardOP{
        margin: 2%;
        height: 55%;
        overflow-x: $ocultar;
        flex-wrap: $wrap;
    }
    .OPindex{
        color:$color-prinicipal;
    }
}