.navbar {
    padding-top: $valoresp-estandar;
    background-color: $color-prinicipal ;

    .navLinks {
        background-color: $color-prinicipal;
        color: rgb(241, 240, 251) !important;
        text-decoration: none;
    }
}

.links {
    width: 100%;
    background-color: rgba(255, 192, 203, 0);
    justify-content: map-get($map-flex, space-evenly);
    overflow-y: $ocultar;


}