//VARS//
$color-prinicipal:rgb(11, 9, 84);
$color-secundario: rgb(20, 18, 155);
$color-terciario: rgb(54, 38, 199);

$alineacion: center;
$espaciado: space-evenly;
$ocultar:hidden;
$wrap: wrap;

$valoresp-estandar:6vh;